<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<center>
<h1>Чайковский Пётр Ильич</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Porträt_des_Komponisten_Pjotr_I._Tschaikowski_%281840-1893%29.jpg/1024px-Porträt_des_Komponisten_Pjotr_I._Tschaikowski_%281840-1893%29.jpg" width="400px">
<p>Здравствуйте!</p>
<p><strong style="font-size: 200%"><mark>я русский композитор,</mark></strong></p>
<p><em>педагог, дирижёр и музыкальный критик.</em></p>
<p><a href="https://ru.wikipedia.org/wiki/Чайковский,_Пётр_Ильич">Здесь</a> вы можете узнать <del>подробнее</del> обо мне</p>
</center>
</body>
</html>